
* {
    background-color: azure;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.viewItemList * {
    text-align: center;
    font-size: larger;
    line-height: 200%;
    word-wrap: break-word;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.editItemList {
    position: absolute;
    top: 0;
    left: 36%;
    width: 54%;
    max-width: 54%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.editItemList * {
    text-align: left;
    font-size: larger;
    line-height: 200%;
    width: 100%;
    word-wrap: break-word;
}

.heading {
    line-height: 100%;
    top: 0;
    font-size: 100%;
    letter-spacing: 0px;
    height: 18px;
}

.item {
    width: calc(100% - 22px - 14px);
}

li {
    list-style: none;
}

.itmbtn  {
    display: inline;
    font-weight: bolder;
    /*vertical-align: middle;*/
    vertical-align: bottom;
    text-align: center;
    font-size: small;
    right: 0;
    width:22px;
    /*height:26.0334px;*/
    height: 100%;
    padding: 0px;
    margin: 0px;
    /*text-overflow: "-";*/
    /*font-size-adjust: .1;*/
}

.fldbtn {
    display: inline;
    font-weight: bolder;
    /*vertical-align: middle;*/
    vertical-align: bottom;
    text-align: center;
    font-size: small;
    position: absolute;
    right: 0;
    width:22px;
    height:22px;
    padding: 0px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    max-width: 36%;
    padding-left: 5px;
}

/*#addItm, #addItmBtn */
#addItemSection {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*#addFld, #addFldBtn*/
#addFieldSection {
    margin-top: 10px;
    margin-bottom: 20px;
    top: 0;
}

.fld, #addFld {
    width: calc(100% - 24px - 5px + 1px);
}

#submitSection {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 90%;
    right: 0%;
/*    max-height: 10px;*/
    padding-left: 0px;
    padding-right: 0px;
}

#editHeader {
    display: block;
    word-wrap: break-word;
    overflow: auto;
    height: auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

.displayNone {
    display: none;
}

.linethrough {
    text-decoration: line-through;
    color: gray;
}

.red {
    color: red;
}

.green {
    color: green;
}

.duplicate {
    /*border: 1px solid blue;*/
    background: lightblue;
}

/* Remove Default Link Formatting */
/*li .link {
    color: inherit;
    text-decoration: inherit;
}*/
