
li {
    list-style: none;
}

a {
   color: inherit;
   text-decoration: inherit;
   font-size: larger;
   line-height: 200%;
   font-size: large;
   font-family: sans-serif;
}

* {
    text-align: center;
    background-color: azure;
    letter-spacing: 2px;
}

.red {
    /*background-color: red;*/
    color: red;
    font-weight: bolder;
}

.blue {
    color: blue;
    font-weight: bolder;
}

.green {
    color: green;
    font-weight: bolder;
}

.inlineblock {
    display: inline-block;
}

.none {
    display: none;
}


.editMode {
	margin: 0px auto;
	width: 80%;
}

.editColumn {
	float: left;
	margin: 0;
	width: 33%;
}

input[id^="editField"] {
	width: 100px;
	text-align: left;
	color: purple;
}

input[id^="editName"] {
	width: 100px;
	text-align: left;
	color: green;
}

