
* {
    background-color: azure;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.viewItemList * {
    text-align: center;
    font-size: larger;
    line-height: 200%;
    word-wrap: break-word;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.editItemList {
    position: absolute;
    top: 0;
    left: 36%;
    width: 54%;
    max-width: 54%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.editItemList * {
    text-align: left;
    font-size: larger;
    line-height: 200%;
    width: 100%;
    word-wrap: break-word;
}

.heading {
    line-height: 100%;
    top: 0;
    font-size: 100%;
    letter-spacing: 0px;
    height: 18px;
}

.item {
    width: calc(100% - 22px - 14px);
}

li {
    list-style: none;
}

.itmbtn  {
    display: inline;
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    font-size: small;
    right: 0;
    width:22px;
    height:26.0334px;
    padding: 0px;
    margin: 0px;
    /*text-overflow: "-";*/
    /*font-size-adjust: .1;*/
}

.fldbtn {
    display: inline;
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    font-size: small;
    position: absolute;
    right: 0;
    width:22px;
    height:22px;
    padding: 0px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    max-width: 36%;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
}

#addItem, #addItmBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#addField, #addFldBtn {
    margin-top: 10px;
    margin-bottom: 20px;
}

.fld, #addField {
    width: calc(100% - 24px - 5px);
}

#editHeader {
    position: absolute;
    top: 0;
    left: 90%;
    right: 0%;
/*    max-height: 10px;*/
    padding-left: 0px;
    padding-right: 0px;
    word-wrap: break-word;
}

.displayNone {
    display: none;
}

.linethrough {
    text-decoration: line-through;
    color: gray;
}

.red {
    color: red;
}

.green {
    color: green;
}

/* Remove Default Link Formatting */
/*li .link {
    color: inherit;
    text-decoration: inherit;
}*/
